https://github.com/wazo-platform/wazo-bus/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
fastapi==0.94.1  # 0.92.0 (bookworm) breaks with starlette 0.26.1; Debian dropped compat check
gunicorn==20.1.0
httptools==0.5.0 # from uvicorn; 0.1.1 (bookworm) breaks with python3.11; Debian patch it
kombu==5.2.4
pydantic==1.10.4
pyyaml==6.0
requests==2.28.1
starlette==0.26.1
stevedore==4.0.2
uvicorn==0.17.6
uvloop==0.17.0  # from uvicorn
