https://github.com/wazo-platform/xivo-bus/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/WAZO-2364-unicode-error.zip
fastapi==0.78.0
gunicorn==20.1.0
kombu==4.2.1
pydantic==1.9.0
pyyaml==3.13
requests==2.21.0
six==1.12.0  # from xivo-lib-python
starlette==0.19.1
stevedore==1.29.0
uvicorn==0.17.6
