#!/usr/bin/make -f
# -*- makefile -*-

export DH_VIRTUALENV_INSTALL_ROOT=/usr/share/venvs/
export DH_VIRTUALENV_ARGUMENTS

%:
	dh $@ --with python-virtualenv --buildsystem=dh_virtualenv

override_dh_virtualenv:
	dh_virtualenv --builtin-venv --python /usr/bin/python3