[Unit]
Description=xivo-sysconfd server
After=network.target rabbitmq-server.service
Before=monit.service

[Service]
ExecStart=/usr/bin/xivo-sysconfd
PIDFile=/run/xivo-sysconfd.pid

[Install]
WantedBy=multi-user.target
