[Unit]
Description=xivo-sysconfd server
After=network.target rabbitmq-server.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
ExecStart=/usr/bin/xivo-sysconfd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
